#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


KERNEL_DIR ?= /usr/src/linux-headers-2.6.32-1
KERNEL_OUT ?= $(KERNEL_DIR)
KERNEL_INC ?= $(KERNEL_DIR)/include/linux
TOOLCHAIN_PREFIX ?=
WLAN_DIR ?= $(CURDIR)/CORE
SAL_EXTERNAL_DIR ?= $(CURDIR)/external

export KERNEL_DIR
export KERNEL_OUT
export KERNEL_INC
export TOOLCHAIN_PREFIX
export WLAN_DIR
export SAL_EXTERNAL_DIR


#dpkg-buildpackage by default sets LDFLAGS to: '-Wl,-Bsymbolic-functions'
#However, ld is called directly so we need to remove '-Wl,'
#See the 'ENVIRONMENT VARIABLES' section of the manual page
#of 'dpkg-buildpackage' for more details
comma := ,
LDFLAGS := $(subst -Wl$(comma),,$(LDFLAGS))


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) -C CORE/HDD/src/

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) -C CORE/HDD/src/ clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/wlan
	$(MAKE) DESTDIR=$(CURDIR)/debian/wlan -C CORE/HDD/src/ install


# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installmodules
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
